@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
  --fstyle:"Concert One";
}

html {
  background-color: aqua;
}

a {
  text-decoration: none;
  color: black;
  font-family: var(--fstyle);
  letter-spacing: 1px;  
  margin-left: 30px;
}

header { 
  background-color: burlywood;
  position: sticky;
  top: 0;
  z-index: 10;  
}

main {
  background-color: aqua;
  font-family: var(--fstyle);
}

.navbar-brand > img {
  mix-blend-mode: multiply;
  width: 150px;
}

.nav-title {
  font-size: 25px;
}




